/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #3e3e3e;
  background-color: #eeeeee;
  width: 100%; }

header {
  padding: 0 1em;
  background-color: #0ac285;
  overflow: hidden;
  *zoom: 1; }
  header li {
    float: left; }
    header li a {
      font-size: 1.5em;
      text-decoration: none;
      color: white;
      display: inline-block;
      padding: 1em 1em; }
    header li:hover {
      background-color: #09aa74; }

.hero {
  width: 100%;
  min-height: 50em;
  position: relative;
  background-color: #333333;
  z-index: 1; }
  .hero li {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    position: relative;
    height: 22em;
    overflow: hidden; }
    .hero li .case {
      width: 100%; }
    .hero li:hover .mask {
      top: 0; }
    .hero li .mask {
      display: block;
      position: absolute;
      top: -22em;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #3e3e3e;
      opacity: .1; }
  .hero:after {
    background: url("../images/hero.png");
    background-size: cover;
    position: absolute;
    content: '';
    z-index: -1;
    opacity: .2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .hero h2 {
    font-size: 6em;
    font-weight: bold;
    padding: 3em 0 1em 0;
    text-transform: uppercase;
    color: white; }
  .hero p {
    color: #cecece;
    font-size: 1.5em;
    font-weight: lighter;
    line-height: 1.4;
    max-width: 70%;
    padding: 1em 0 8em;
    margin: 0 auto; }
    .hero p span {
      color: #0ac285; }

.information {
  position: absolute;
  background-color: #3e3e3e;
  top: 22em;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .9;
  transition: all .4s ease-in-out;
  text-align: left;
  padding: 0 1em;
  box-sizing: border-box;
  color: white;
  overflow: hidden;
  *zoom: 1; }
  .information h3 {
    font-size: 2em;
    padding: 1em 0; }
  .information .detail {
    position: relative;
    padding-top: 2em; }
    .information .detail .avator {
      position: absolute;
      width: 3em;
      height: 3em;
      bottom: 0;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%; }
    .information .detail p {
      padding: .5em 0 0 0;
      font-size: 1.5em; }
    .information .detail .contact {
      margin-left: 4em; }
      .information .detail .contact .name {
        font-weight: bold;
        margin-right: .5em; }
      .information .detail .contact .role {
        color: #eeeeee; }
    .information .detail .like {
      position: absolute;
      font-size: 2em;
      bottom: 0;
      right: 0;
      color: white;
      background-color: #0ac285;
      border: 1px solid #0ac285;
      padding: .2em;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      transition: all .3s ease-in-out; }
      .information .detail .like:hover {
        color: #0ac285;
        background-color: white;
        border: 1px solid transparent; }

.topics {
  padding: 2em 0 4em;
  overflow: hidden;
  *zoom: 1; }
  .topics h3 {
    font-size: 2em;
    text-transform: uppercase;
    color: #0ac285;
    padding: 2em 0; }
    .topics h3:after {
      content: "";
      display: block;
      background-color: #cccccc;
      width: 2em;
      height: .2em;
      margin: .4em auto; }
  .topics li {
    float: left;
    width: 33.33%; }
    .topics li i {
      font-size: 3em; }
    .topics li h4 {
      font-size: 1.5em;
      padding: 1em 0;
      font-weight: bold; }
    .topics li p {
      line-height: 1.4;
      color: #6e6e6e;
      padding: 0 8em;
      margin-bottom: 4em; }

.sample {
  overflow: hidden;
  *zoom: 1; }
  .sample li {
    float: left;
    width: 50%;
    margin-bottom: 2em; }
    .sample li .thumb {
      width: 100%;
      height: 30em;
      overflow: hidden; }
      .sample li .thumb img {
        width: 90%;
        margin: 0 auto; }
    .sample li .description h4 {
      text-align: left;
      padding-left: 1.5em;
      font-size: 2em;
      font-weight: bold; }
    .sample li .description p {
      font-size: 1.5em;
      font-weight: lighter;
      color: #6e6e6e;
      line-height: 1.4;
      text-align: left;
      padding: .5em 2em; }
