/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 800px;
  margin: 0 auto; }

header nav ul {
  float: right; }
  header nav ul li {
    float: left;
    margin: 1em .5em;
    padding: .5em 1em;
    border: 1px solid transparent;
    border-radius: 2px; }
    header nav ul li:last-child {
      border: 1px solid white; }

.numbers {
  width: 60em;
  margin: 2em auto;
  background: #efefef;
  overflow: hidden;
  *zoom: 1; }
  .numbers li {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 1.5em 3em;
    border-bottom: 3px solid transparent;
    transition: all .3s ease-in; }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      .numbers li {
        width: 50%; } }
    @media only screen and (max-width: 320px) {
      .numbers li {
        float: none;
        width: 100%; } }
    .numbers li h4 {
      text-transform: uppercase;
      color: gray; }
    .numbers li p {
      margin-top: 1em;
      font-weight: bold; }
    .numbers li:hover {
      border-bottom: 3px solid #0099CC; }

.content {
  margin-left: 4em; }
  .content span {
    margin-right: 1em; }
    .content span.name {
      font-weight: bold; }
    .content span.account {
      font-weight: lighter;
      color: gray; }
    .content span.time {
      color: gray;
      float: right;
      margin-right: 0; }
  .content .post {
    position: relative;
    text-align: left;
    padding: 2em;
    background: #efefef;
    border-bottom: 1px solid #efefef; }
    .content .post header {
      margin-bottom: 1em; }
    .content .post section {
      margin-bottom: 1em; }
      .content .post section p {
        line-height: 1.4em;
        font-weight: normal; }
      .content .post section img {
        width: 100%;
        margin-bottom: 1em; }
    .content .post footer a {
      text-decoration: none;
      color: gray;
      margin-right: 1em; }
      .content .post footer a:last-child {
        float: right;
        margin-right: 0; }
      .content .post footer a:hover {
        color: #000000; }

.avator {
  width: 3em;
  height: 3em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: 2em;
  left: 2em; }
