/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";
$body-color: #efefef;
$post-bg-color: #efefef;
// $post-bg-color: hsl(200, 50%, 50%);
$gray-text-color: gray;
$highlight-text-color: white;
$text-color: #000000;
$twitter-color: #0099CC;
$break-small: 320px;
$break-large: 1024px;
@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: $break-small) {
            @content;
        }
    }
    @else if $media == medium-screens {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
            @content;
        }
    }
    @else if $media == wide-screens {
        @media only screen and (min-width: $break-large) {
            @content;
        }
    }
}
body {
    font-family: 'Open Sans', sans-serif;
    // font-size: 62.5%;
    text-align: center;
    width: 800px;
    margin: 0 auto;
}
header {
    nav {
    
        ul {
            float: right;
            li {
                float: left;
                margin: 1em .5em;
                padding: .5em 1em;
                border: 1px solid transparent;
                border-radius: 2px;
                &:last-child {
                    border: 1px solid $highlight-text-color;
                }
            }
        }
    }    
}

.numbers {
    width: 60em;
    margin: 2em auto;
    background: $post-bg-color;
    li {
        float: left;
        width: 25%;
        // 平板用
        @include respond-to(medium-screens) {
            width: 50%;
        }
        // 手機用
        @include respond-to(handhelds) {
            float: none;
            width: 100%;
        }
        box-sizing: border-box;
        padding: 1.5em 3em;
        border-bottom: 3px solid transparent;
        transition: all .3s ease-in;
        h4 {
            text-transform: uppercase;
            color: $gray-text-color;
        }
        p {
            margin-top: 1em;
            font-weight: bold;
        }
        &:hover {
            border-bottom: 3px solid $twitter-color;
        }
    }
    @include clearfix;
}
.content {
    margin-left: 4em;
    span {
        margin-right: 1em;
        &.name {
            font-weight: bold;
        }
        &.account {
            font-weight: lighter;
            color: $gray-text-color;
        }
        &.time {
            color: $gray-text-color;
            float: right;
            margin-right: 0;
        }
    }
    .post {
    position: relative;
    text-align: left;
    padding: 2em;
    background: $post-bg-color;
    border-bottom: 1px solid $body-color;
    header {
        margin-bottom: 1em;
    }
    section {
        margin-bottom: 1em;
        p {
            line-height: 1.4em;
            font-weight: normal;
        }
        img {
            width: 100%;
            margin-bottom: 1em;
        }
    }
    footer {
        a {
            text-decoration: none;
            color: $gray-text-color;
            margin-right: 1em;
            &:last-child {
                float: right;
                margin-right: 0;
            }
            &:hover {
                color: $text-color;
            }
        }
    }
}
}
.avator {
    width: 3em;
    height: 3em;
    @include border-radius(100%);
    position: absolute;
    top: 2em;
    left: 2em;
}
